/* Pour les templates */
.template {
    display: none;
}

/* Pour les tabeaux */
table.table-fixed {
    table-layout: fixed;
}

table.table-form tr.help-block {
    display: table-row;
}

table.table-form td.help-block {
    display: table-cell;
}

table.table-form.has-error tfoot {
    background-color: rgba(200,100,100,0.4);
}

/*noinspection CssUnusedSymbol*/
table th.longtext, table td.longtext {
    white-space: nowrap;
}

table th.longtext div, table td.longtext div {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Pour les listes */
.list-group .list-group-item {
    cursor: pointer;
}

.list-group.list-striped .list-group-item:nth-child(odd) {
    background-color: #f9f9f9;
}

.list-group-item-lg,
.list-group-lg > .list-group-item {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

/*TODO en fait pas génial car tous les éléments sont arrondis alors qu'il faudrait que ce soit le premier et le dernier*/
.list-group-item-sm,
.list-group-sm > .list-group-item {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.list-group-item-xs,
.list-group-xs > .list-group-item {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


/* Pour les linkedtext*/
/*noinspection CssUnusedSymbol*/
.linkedtext {
    position: relative;
}

.linkedtext .btn-group {
    position: absolute;
    bottom: 0;
    right: 0;
}


/************************************************
* Mise en page des checkbox et checkbox group   *
*************************************************/

.box-group .btn {
    padding: 0;
    margin-bottom: 5px;
}

.box-group .btn + .btn {
    margin-left: 10px;
}

.box-group .btn:hover,
.box-group .btn:focus,
.box-group .btn.focus {
    color: inherit;
}

.box-group .btn:not(.active) input[type="radio"] + .glyphicon:before,
.box-group .btn:not(.active) input[type="checkbox"] + .glyphicon:before {
    content: "\e157"; /*Unchecked*/
}

.box-group .btn.active input[type="radio"] + .glyphicon:before,
.box-group .btn.active input[type="checkbox"] + .glyphicon:before {
    content: "\e067"; /*Checked*/
}

.box-group .btn.disabled,
.box-group .btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/************************************************
* Extra glyphicon                               *
*************************************************/
/*noinspection CssUnusedSymbol*/
.movaicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Arial", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*noinspection CssUnusedSymbol*/
.movaicon-female:before {
    content: "\2640";
}

/*noinspection CssUnusedSymbol*/
.movaicon-male:before {
    content: "\2642";
}


/************************************************
* Personnalisation des boutons rond.            *
*************************************************/
/*noinspection CssUnusedSymbol*/
.btn-rond {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 11px;
}
